<div class="todo-list-wrapper font-thin">
    <div class="todo-list-box">
        <div>
            <h1 class=" title text-5xl text-center text-gray-400  mb-3 uppercase  font-thin"><span class="bg-red-400 text-white  px-3 rounded-lg">Todo</span> list.</h1>
            <div class="todo-list bg-white rounded shadow-lg">
                <router-outlet></router-outlet>
            </div> 
        </div>
    </div>
    <div class="todo-list-footer text-gray-500">
        <p>Developed: By Ronald Tshawe</p>
    </div>
    <!-- <app-messages class="messages text-gray-500 bg-gray-200 p-2"></app-messages> -->
</div>